{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <article class="article-main">
        {% if app.user %}
            <h2>Bonjour {{ app.user.username | upper }}!</h2>
        {% endif %}
        <div class="article"></div>
    </article>
{% endblock %}
