<div id="sidenav" class="sidenav">
    <a href="{{ path('app_home') }}"><img src="{{ asset("assets/images/logo-orange.svg") }}" alt="Logo MealSaveurs" width="150px"></a>
    <div class="sidenav-items">
        <a href="#"><span><i class="fas fa-solar-panel"></i> &ensp; Panel</span></a>
        <div class="separate"></div>
        <a href="#"><span><i class="far fa-plus-square"></i>&ensp;Ajouter un post</span></a>
        <a href="#"><span><i class="far fa-heart"></i>&ensp;Mes j'aimes</span></a>
        <a href="#"><span><i class="far fa-calendar-alt"></i>&ensp;Mon planning</span></a>
        <a href="#"><span><i class="fas fa-list-alt"></i>&ensp;Ma liste de course</span></a>
        <a href="#"><span><i class="fas fa-book-open"></i>&ensp;Mon carnet</span></a>
        <a href="#"><span><i class="fas fa-book-open"></i>&ensp;Le blog</span></a>
        <div class="separate"></div>
        <a href="#"><span><i class="fas fa-globe-europe"></i>&ensp;Producteurs locaux</span></a>
        <a href="#"><span><i class="fas fa-user"></i>&ensp;Mon profil</span></a>
        <a href="#"><span><i class="fas fa-cogs"></i>&ensp;Paramètres</span></a>
        <div class="separate"></div>
        <a href="#" class="last-link"><span><i class="fas fa-crown last-link"></i>&ensp;Upgrade</span></a>
    </div>
</div>
