{% extends 'log.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}
    <h1 class="title-condition">Conditions générales d'utilisation</h1>
    <div class="conditions">
        <section class="article-condition">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec velit sit amet risus suscipit molestie. Mauris viverra fringilla dolor. Donec vehicula, orci in sodales porta, diam risus congue arcu, at laoreet felis risus vitae eros. Nulla facilisi. Fusce tempus tellus ullamcorper, ullamcorper tortor et, tincidunt tortor. Nunc sodales tempor consectetur. Donec sagittis magna ut tincidunt viverra. Pellentesque dignissim quam lectus, et fermentum sem fermentum in. Sed tempus imperdiet sollicitudin. Duis bibendum, elit eget dapibus malesuada, lorem lectus finibus enim, ut auctor elit magna molestie elit. Suspendisse finibus efficitur ipsum eu tristique. Curabitur vestibulum vestibulum convallis. Proin sit amet egestas sapien. Suspendisse vitae nisl eu massa consectetur eleifend. Mauris dignissim orci eget ante ullamcorper, et auctor sem molestie. Vestibulum blandit nec ipsum ac iaculis. </p>
        </section>
        <section class="article-condition">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec velit sit amet risus suscipit molestie. Mauris viverra fringilla dolor. Donec vehicula, orci in sodales porta, diam risus congue arcu, at laoreet felis risus vitae eros. Nulla facilisi. Fusce tempus tellus ullamcorper, ullamcorper tortor et, tincidunt tortor. Nunc sodales tempor consectetur. Donec sagittis magna ut tincidunt viverra. Pellentesque dignissim quam lectus, et fermentum sem fermentum in. Sed tempus imperdiet sollicitudin. Duis bibendum, elit eget dapibus malesuada, lorem lectus finibus enim, ut auctor elit magna molestie elit. Suspendisse finibus efficitur ipsum eu tristique. Curabitur vestibulum vestibulum convallis. Proin sit amet egestas sapien. Suspendisse vitae nisl eu massa consectetur eleifend. Mauris dignissim orci eget ante ullamcorper, et auctor sem molestie. Vestibulum blandit nec ipsum ac iaculis. </p>
        </section>
        <section class="article-condition">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec velit sit amet risus suscipit molestie. Mauris viverra fringilla dolor. Donec vehicula, orci in sodales porta, diam risus congue arcu, at laoreet felis risus vitae eros. Nulla facilisi. Fusce tempus tellus ullamcorper, ullamcorper tortor et, tincidunt tortor. Nunc sodales tempor consectetur. Donec sagittis magna ut tincidunt viverra. Pellentesque dignissim quam lectus, et fermentum sem fermentum in. Sed tempus imperdiet sollicitudin. Duis bibendum, elit eget dapibus malesuada, lorem lectus finibus enim, ut auctor elit magna molestie elit. Suspendisse finibus efficitur ipsum eu tristique. Curabitur vestibulum vestibulum convallis. Proin sit amet egestas sapien. Suspendisse vitae nisl eu massa consectetur eleifend. Mauris dignissim orci eget ante ullamcorper, et auctor sem molestie. Vestibulum blandit nec ipsum ac iaculis. </p>
        </section>
        <section class="article-condition">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec velit sit amet risus suscipit molestie. Mauris viverra fringilla dolor. Donec vehicula, orci in sodales porta, diam risus congue arcu, at laoreet felis risus vitae eros. Nulla facilisi. Fusce tempus tellus ullamcorper, ullamcorper tortor et, tincidunt tortor. Nunc sodales tempor consectetur. Donec sagittis magna ut tincidunt viverra. Pellentesque dignissim quam lectus, et fermentum sem fermentum in. Sed tempus imperdiet sollicitudin. Duis bibendum, elit eget dapibus malesuada, lorem lectus finibus enim, ut auctor elit magna molestie elit. Suspendisse finibus efficitur ipsum eu tristique. Curabitur vestibulum vestibulum convallis. Proin sit amet egestas sapien. Suspendisse vitae nisl eu massa consectetur eleifend. Mauris dignissim orci eget ante ullamcorper, et auctor sem molestie. Vestibulum blandit nec ipsum ac iaculis. </p>
        </section>
        <section class="article-condition">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec velit sit amet risus suscipit molestie. Mauris viverra fringilla dolor. Donec vehicula, orci in sodales porta, diam risus congue arcu, at laoreet felis risus vitae eros. Nulla facilisi. Fusce tempus tellus ullamcorper, ullamcorper tortor et, tincidunt tortor. Nunc sodales tempor consectetur. Donec sagittis magna ut tincidunt viverra. Pellentesque dignissim quam lectus, et fermentum sem fermentum in. Sed tempus imperdiet sollicitudin. Duis bibendum, elit eget dapibus malesuada, lorem lectus finibus enim, ut auctor elit magna molestie elit. Suspendisse finibus efficitur ipsum eu tristique. Curabitur vestibulum vestibulum convallis. Proin sit amet egestas sapien. Suspendisse vitae nisl eu massa consectetur eleifend. Mauris dignissim orci eget ante ullamcorper, et auctor sem molestie. Vestibulum blandit nec ipsum ac iaculis. </p>
        </section>
    </div>

{% endblock %}
