/* Add a black background color to the top navigation */
.header-nav {
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 45px;
}

/* Style the links inside the navigation bar */
.header-nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

/* Add an active class to highlight the current page */
.header-nav .link-icon:hover{
    background-color: var(--main-bg-color-orange-dark);
    border-radius: 10px;
}

.header-nav .link-icon:hover:last-child{
    background-color: transparent;
}

/* Hide the link that should open and close the topnav on small screens */
.header-nav .icon {
    display: none;
}

.header-nav  form{
    position: relative;
    width: 30rem;
}

.form-nav{
    position: absolute;
    left: 356px;
}

.header-nav input{
    height: 2.4rem;
    width: 30rem;
    outline: none;
    border-radius: 99px;
    border: 1px solid var(--main-bg-color-gray-light);
}

.header-nav input[type="search"]{
    outline: none;
    padding: 0 2.3rem;
    font-size: large;
}

.header-nav button {
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.header-nav label{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/*Icones menu*/
.icone-links-nav {
    display: flex;
    align-items: center;
    margin-left: 771px;
}

/* USER LINKS */
.user-link, .tchat-link, .notification-link{
    position:relative;
    display: block;
}

.dropdown-user, .dropdown-tchat, .dropdown-notification{
    display: none;
    height: auto;
    position: absolute;
    top:80%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    background-color: var(--main-bg-color-orange-dark);
    border-radius: 10px;
}

.dropdown-user a:hover, .dropdown-tchat a:hover, .dropdown-notification a:hover{
    color: var(--main-bg-color-white);
}
.user-link:hover .dropdown-user, .tchat-link:hover .dropdown-tchat, .notification-link:hover .dropdown-notification {
    display: block;
}


/* MENU HAMB*/
#menu-bar .container-menuToggle {
    cursor: pointer;
    position: absolute;
    top:0;
    left:0;
    display:none;
}

#menu-bar .bar1, #menu-bar  .bar2, #menu-bar .bar3{
    background-color: var(--main-bg-color-orange-light);
    width: 30px;
    height: 4px;
    border-radius: 99px;
    margin: 6px 0;
    transition: .4s;
}

/*responsive*/
@media screen and (max-width: 1280px) {
   .form-nav, .icone-links-nav{
       display: none;
   }
    #menu-bar{
        position: absolute;
        top: 20px;
        right: 60px;
    }

    #menu-bar .container-menuToggle {
        display:block;
    }
}
