<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MealSaveurs{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("assets/css/global.css") }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset("assets/js/global.js") }}"></script>
    </body>
</html>
